@import "tailwindcss";


@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand: #2563eb;
  --color-modulo-clima: #f59e0b;
  --color-modulo-economia: #0ea5e9;
  --color-modulo-educacao: #4f46e5;
  --color-modulo-eleicao: #8b5cf6;
  --color-modulo-populacao: #10b981;
  --color-surface: #ffffff;
  --color-background: #f8fafc;
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}
